{% extends 'base.html.twig' %}

{% block title %}Shop projet | Accueil{% endblock %}

{% block body %}
{{ render(controller('App\\Controller\\DefaultController::mostSold')) }}
<div class="hero">
    <div class="hero-content text-center">
        <div class="max-w-md">
        <h1 class="text-5xl font-bold">Boutique en ligne</h1>
        <p class="py-6">vous pouvez accéder à la boutique et accéder à nos différents produits disponible !</p>
        <button class="btn">
            <a href='{{ path('boutique') }}'>
                Accéder
            </a>
        </button>
        </div>
    </div>
</div>
{% endblock %}
